/* reset */
body,
h1,
p,
li,
h2,
ul,
blockquote {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Volkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/* Grid geral */
.estrutura {
  display: grid;
  /* 1 coluna: min max n diminui o conteudo mais que 160px e coloca ele no maximo 1fr 
  2 coluna: 3fr pq expande em uma proporção maior em relação as outras
  3 coluna: valor fixo para n diminuir nem aumentar automaticamente*/
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  /* definindo as areas dogrid areas */
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }
}

/* header */
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  /* 1fr para expandir a marca e automatico para pegar o tamanho automatico do menu */
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* solucao usada ara impedir que se crie a margin antes do li */
header li + li {
  margin-left: 30px;
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }

  .logo {
    margin-bottom: 20px;
  }

  .header nav a {
    font-size: 1rem;
  }

  header li + li {
    margin-left: 10px;
  }
}

/* sidenav */
.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

@media (max-width: 760px) {
  .sidenav ul {
    display: flex;
  }

  .sidenav ul li {
    /* cresce e oculpa todo espaco disponivel */
    flex: 1 0 60px;
  }

  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0 30px;
  }

  @keyframes seta {
    from{
      right: 30px;
    }
    to{
      right: 20px;
    }
  }

  .sidenav::after{
    content: "→";
    position: absolute;
    color: rgba(0, 0, 0, .3);
    top: 5px;
    right: 30px;
    animation: seta .5s ease-in 0s infinite alternate;
  }

  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

/* content */
.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media(max-width: 600px){
  .content {
    grid-template-columns: auto;
  }
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  /* lembrando que self sempre conversa com o item em especifico ja items é todos os itens do conteudo*/
  align-self: end;
}

.imagem-2 {
  align-self: end;
}

/* estilos gerais content */
p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

.informacoes p + p {
  margin-top: 30px;
}

/* titulo */
.titulo {
  color: #b07dfb;
}

.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.875rem;
  font-style: italic;
}

/* caracteristicas */
.caracteristicas {
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristicas > div:first-child {
  margin-right: 30px;
}

.caracteristicas span {
  display: block;
  color: #b07dfb;
}

.numero {
  color: #b07dfb;
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}

.rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0px;
  position: relative;
  top: 2px;
}

.destaque {
  font-size: 0.875rem;
  color: #b07dfb;
  max-width: 28ch;
}

.citacao,
.atributos {
  align-self: start;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.atributos li {
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #b07dfb;
}

/* anuncios */
.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  /* auto fit faz com que crie colunas ou linhas automaticamente respeitando o minmax que fala que o conteudo vai ter no minimo 150px n podendo diminuir o mesmo. Quando o valor chegar a 150px o auto fit cria outra linha para n estourar o container, e um 1fr é o maximo que o conteudo vai chegar*/
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-content: start;
  padding: 30px;
  gap: 30px;
}

/* footer */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
}
